$montserrat: 'Montserrat', sans-serif;
$roboto: 'Roboto', sans-serif;
$background: #fff;
$background_sub: #E8F8EB;
$primary: #50B848;
$primary_darker: #399b32;
$dark: #01000C;
$plain_text: #8D8D8D;
$border: #D9D9D9;
$bakground_semi: #FBFBFB;