@import './variables';
* {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
	outline: 0;
	-webkit-tap-highlight-color: transparent;
}
html, body {
	height: 100%;
	line-height: 1;
	font-size: 14px;
	font-family: $montserrat;
}
input, textarea, button {
	font-size: 14px;
	font-family: inherit;
}
button {
	cursor: pointer;
}
a, a:hover {
	text-decoration: none;
}
li {
	list-style: none
}
img {
	vertical-align: top
}
h1, h2, h3, h4, h5, h6 {
	font-size: inherit;
	font-weight: 700;
}
#root {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}
.page {
	flex: 1 1 auto;
	display: flex;
	&>div {
		width: 100%;
	}
}